<!DOCTYPE html>
<!DOCTYPE html>
<head>
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "4a426ee2-1255-494f-929c-67bf4ef82e13",
    });
  });
</script>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Storybooks</title>
</head>

<body style="background:#fff">
     <%- include('./partials/header'); -%>
     
    
    <main>
   <div class = "container">
<%
formatDate= function(date, format){
    return moment(date).format(format);
  }
%>



<!--       <h1>Welcome <%= username %></h1>-->

<h4>Work Index</h4>
       
       <style>
       
           .modal-bg1 {
               position:fixed;
               top:0;
               left:0;
               width:100%;
               height:100vh;
               background-color:rgba(0,0,0,0.5);
               display:flex;
               justify-content:center;
               align-items:center;
               visibility:hidden;
               opacity:0;
               transition: visibility 0s opacity 0.5s;
           }
           
           .bg-active{
               visibility:visible;
               opacity:1;
           }
           
           .modal1{
               padding:20px;
               position:relative;
               background-color:white;
               width:300px;
               display:flex;
               justify-content:space-around;
               align-items:center;
               flex-direction:column;
           }
       
           .modal-close1{
               position:absolute;
               top:10px;
               right:10px;
               cursor:pointer;
               font-weight:bold;
           }
           
           .modal1 h4{
               font-size:25px;
           }
           .modal1 label{
               font-size:1rem;
           }
           .modal1 input{
               background-color:antiquewhite;
           }
       </style>
       
       
       
     
       
       
<% if (stories) {%>
  <table class="striped" >
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%stories.forEach(function(element){%>
        <tr>
          
          <td><a href="/stories/show/<%= element._id %>"><%= element.title %></a></td>
          <td><%= formatDate(element.date ,'MMMM Do YYYY') %></td>
          <td><span class="dash-status"><%= element.status %></span></td>
          <td style="text-align:center;margin:10px">
            <a class="btn left-align" href="/stories/edit/<%= element._id %>"><i class="fa fa-pencil"></i> </a>

              <a class="btn orange mail-btn left-align" style="margin:10px;" ><i class="fa fa-envelope"></i> </a>
            <form action="/stories/<%= element._id %>?_method=DELETE" method="post" id="delete-form" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn red"><i class="fa fa-trash"></i> </button>
            </form>
              
               <div class="modal-bg1">
          
                <div class="modal1 ">
                    <form action="/mail/<%= element._id%>?_method=PUT" method="post" class="col s12">
                        <input type="hidden" name="_method" value="PUT">
           <h4>Mail <%=element.title%></h4>
            <label for="email">Email To:</label>
           <input type="email" id="toemail" name ="email" required>
              <label for="name">Subject :</label>
           <input type="text" id="subject" name="subject" required>
                        <button type="submit" class="btn orange" value="mail">Mail</button>
           <input type="text" name="story" value="<%=element.body%>" hidden>
                        
           <span class="modal-close1">X</span>
                        </form>
           </div>

       </div>
              
          </td>
           
        </tr>
        
          
       
        
        
     <%});%>
    </tbody>
  </table>
       
       
       
       
       
       
       
       
       
       
      
       
       
       
       
       
<%} else { %>
  <p>You have not created any stories yet</p>
<% } %>
        </div>
        
    </main>
    
    
    <%- include('./partials/footerForStories'); -%>
</body>
 <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
    
     $(document).ready(() => {
      $('.button-collapse').sideNav();
       $('select').material_select();
    });
    
    
           var modalBtn = document.querySelector('.mail-btn');
           var modalClose =  document.querySelector('.modal-close1');
           
    var userdata2;
           modalClose
    
    
      $(document).on('click','.mail-btn',function(){
          
          var d=$(this).parent()[0].children[3];
         
          doit(d);
          d.children[0].children[0].children[8].addEventListener('click',function(){
            d.classList.remove('bg-active');
           });
          
      });
    
    
    
    function doit(mm){

               mm.classList.add('bg-active');
        
           }
    
    function displayStory(){
       var subject = document.getElementById('subject');
        var mail = document.getElementById('toemail');
        alert(mail);
    }
</script>
</html>

