<!DOCTYPE html>
<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Storybooks</title>
</head>

<body style="background:#eee">
    <%- include('partials/headerForSearch'); -%>
    
    <main>
   <div class = "container">
       
<h3>Search stories</h3>
       <%- include ('./stories/functions') -%> 
<div class="row storyContent">
    <%stories.forEach(function(element){%>
    
    <div class="col s12 m4">
      <div class="card">
          
        <div class="card-content center-align">
          <h5><%=element.title%></h5>
<!--          <div class="story-text" style="height:120px;"><% (truncate(element.body,150)) %></div>-->
          <br>
          <div class="chip">
              
            <img src=" <%=element.author.image%>">
              
            <%=element.username%>
          </div>
        </div>
        <div class="card-action center-align">
          <a class="btn grey" href="/stories/show/<%=element._id%>">Read More</a>
        </div>
      </div>
    </div>
  
  <%});%>
</div>
    
      </div>  
    </main>
    <%- include('partials/footerForStories') -%>
</body>
 <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
    
     $(document).ready(() => {
      $('.button-collapse').sideNav();
       $('select').material_select();
    });
    

function loadByAjax()
{
     $('.storyContent').html('')
     $.ajax({
          type: "POST",
          url: "/searchQuery",
          data:  { search: document.getElementById('searchbar').value },
          success: function(response_data){
              var data_str = JSON.stringify(response_data);
              var ele = JSON.parse(data_str)
              for (element of ele){
          $('.storyContent').append(
         '<div class="col s12 m4"><div class="card"><div class="card-content center-align"><h5>'+element.title+'</h5><br><div class="chip"><img src="'+element.author.image+'">'+element.username+'</div></div><div class="card-action center-align"><a class="btn grey" href="/stories/show/'+element._id+'">Read More</a></div></div></div>')
              }
          }
          });
}
    
    
   
    
</script>
</html>

